<style>
    #top {
        padding-bottom: 40px;
        background-color: snow;
    }

    .button {
        background-color: turquoise;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .ibutton {
        background-color: red;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .ybutton {
        background-color: blueviolet;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .vbutton {
        background-color: deepskyblue;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    #h {
        text-shadow: unset;
        text-decoration-color: HighlightText;
    }
</style>
<div id="top">
    <br />
    <br />
    <div id="h"><h3 id="h"> Choose Operations:</h3><br /></div>
    <button onclick="location.href = '/Crud/Create'" class="button">Create</button>
    <button onclick="location.href = '/Crud/Delete'" class="ibutton">Delete</button>
    <button onclick="location.href = '/Crud/Update'" class="ybutton">Update</button>
    <button onclick="location.href = '/Crud/GetData'" class="vbutton">View</button>
    <button onclick="location.href = '/Crud/Show'" class="vbutton">List View</button>
</div>