<script type="text/javascript" src="first.js"></script>

<body>
    <form action="deleted">

        <p> You Deleted the record,Press the button to go to delete more records</p>
    </form>

    <input type="submit" value="Back"  onclick="window.location.href='/Crud/Show'">
    
</body>


