
<style>
    #top {
        padding-bottom: 40px;
        background-color: snow;
    }

    .button {
        background-color: turquoise;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }
</style>
<h2>Input Id to Delete</h2>
<div id="top">
<form action="DeleteData">
<input id="Text1" type="text" name="id" />
<input id="Submit1" type="submit" value="submit" class="button" />
</form>
</div>